@model Lexicon_LMS.Models.ChangePasswordViewModel

<link href="~/Content/icecreamstyle.css" rel="stylesheet" />

<div style="background-color: #ededed; border-radius: 12px; opacity:.95; margin-top:20px;">
	@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
		@Html.AntiForgeryToken()
		<h4 style="margin-left:10px; padding-top: 10px;">Change Password Form</h4>
		<hr />
		@Html.ValidationSummary("", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group" style="padding-bottom: 10px;">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Change password" class="btn btn-warning" />
				<span style=" margin-left: 25px;"> | </span>
				<span class="glyphicon glyphicon-arrow-left" style="margin-left: 25px;"> </span>
				@Html.ActionLink("Back to profile", "Index", null, new { @class = "btn btn-danger" })
			</div>
		</div>
	}
	<div style="margin-left:10px; padding-bottom:10px;">

	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}