@model Lexicon_LMS.Models.IndexViewModel

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using Lexicon_LMS.Models;


@{

	ApplicationUser user = System.Web.HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId());

}




<link href="~/Content/icecreamstyle.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="main-div">
	<p class="text-success">@ViewBag.StatusMessage</p>
	<h2 class="h2-override">Manage your account</h2>

	<ul class="nav nav-tabs" id="myTab" role="tablist">

		<li class="nav-item active">
			<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="inbox-tab" data-toggle="tab" href="#inbox" role="tab" aria-controls="inbox" aria-selected="false">Inbox</a>
		</li>
	</ul>

	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade active in" id="profile" role="tabpanel" aria-labelledby="profile-tab">

			<br />
			<div class="h2-override">
				<h2>@user.FullName</h2>
				@if (User.IsInRole("Teacher"))
				{<h4 style="margin-left:5px;">Teacher</h4>}
				else
				{<h4 style="margin-left:5px;">Student</h4>}
			</div>
			<dl class="dl-horizontal">
				<dt>E-mail</dt>
				<dd>@User.Identity.Name</dd>

				<dt>Account type</dt>
				<dd>
					@if (User.IsInRole("Teacher"))
					{<span>Teacher</span>}
					else
					{ <span>Student</span>}
				</dd>
				<dt>Course</dt>
				@if (user.UserCourse != null)
				{
					<dd>@user.UserCourse.CourseName</dd>
				}
				else
				{
					<dd>No registered courses</dd>
				}
				<dt>Phone nr</dt>
				@if (user.PhoneNumber != null)
				{
					<dd>@user.PhoneNumber</dd>
				}
				else
				{
					<dd>No phone number registered</dd>
				}

				<dt>Address</dt>
				@if (user.Street == null && user.Postcode == null && user.City == null)
				{
					<dd>No address registered</dd>
				}
				else if (user.Street != null)
				{
					<dd>@user.Street, @user.Postcode @user.City</dd>
				}
				else
				{
					<dd>@user.Street @user.Postcode @user.City</dd>
				}
			</dl>
			<p style="margin-left:8px; padding-bottom: 20px;">
				@if (Model.HasPassword)
				{
					<span class="glyphicon glyphicon-wrench"> </span>
					@Html.ActionLink("Change password", "ChangePassword", null, new { @class = "btn btn-default" })
				}
				else
				{
					@Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-default" })
				} |
				<span class="glyphicon glyphicon-pencil"> </span>
				@Html.ActionLink("Edit Personal Info", "EditProfile", null, new { @class = "btn btn-default" })
			</p>


		</div>

		<div class="tab-pane fade" id="inbox" role="tabpanel" aria-labelledby="inbox-tab" style="padding: 10px">
			<br />
			@{Html.RenderAction("InboxContainer", "Notifications", new { p = 1 });}
			<br />
		</div>
	</div>
	<script>
		function getQueryString(field, url) {
			var href = url ? url : window.location.href;
			var reg = new RegExp('[?&]' + field + '=([^&#]*)', 'i');
			var string = reg.exec(href);
			return string ? string[1] : 1;
		};

		$(document).ready(function () {

			if (getQueryString('tab') == "inbox") {
				$('#inbox-tab').click();
			}
		});
	</script>
</div>
