@model Lexicon_LMS.Models.ApplicationUser
@using Lexicon_LMS.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;

@{
    ViewBag.Title = "Profile Info";
    var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
}

<h2>@ViewBag.Title</h2>

<div>
    @if(um.IsInRole(Model.Id, "Teacher")){
    <h4>Teacher</h4>
    }
    else
    {
        <h4>Student</h4>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Forename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserCourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserCourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProfile", "Manage", new { userName = Model.UserName }, null) |
    @if (User.IsInRole("Teacher"))
    {
        @Html.ActionLink("Back to List", "ListUsers")
    }
    else
    {
        @Html.ActionLink("Back to Course", "Details", "Courses", new { id = Model.UserCourse.ID }, null)
    }
</p>
