@model PagedList.IPagedList<Lexicon_LMS.Models.Notification>
    @using PagedList.Mvc;

@{ 
    TempData["page"] = Model.PageNumber;
    
}

<script>
    var url = '@Url.Action("InboxMsg", "Notifications")';

</script>

<table class="table">
    <tr>
        <th></th>
        <th>
            Subject
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Skip(0))
    {
   
        <tr >
            <td>
                @if (!item.Read) { <span class="badge badge-success">New!</span>}
            </td>
            <td>
                <a href="#" onclick="$('#inbox').load(url, {notif: @item.ID});">@item.Subject</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSent)
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#@item.ID"
                        data-whatever="@item.ID">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>

                <div class="modal fade" id="@item.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete: <span><b>@item.Subject</b></span>?
                            </div>
                            <div class="modal-footer">

                                @using (Html.BeginForm("Delete", null, new { id = item.ID }, FormMethod.Post, null))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

