@model Lexicon_LMS.Models.Activity
@using Lexicon_LMS.Models;

@{
    ViewBag.Title = " Activity Details";
    Type t = Model.GetType();
    bool hasSubmitted = false;
    if (Model.Documents.Where(d => d.User.UserName == User.Identity.Name && d.UserAssignment == true).FirstOrDefault() != null)
    {
        hasSubmitted = true;
    }
}
<link href="~/Content/icecreamstyle.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="main-div">
	<h2 class="h2-override">@ViewBag.Title</h2>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Deadline)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Deadline)
		</dd>

		<dt>@Html.DisplayNameFor(model => model.Documents)</dt>
		<dd>
			@foreach (Document document in Model.Documents.Where(d=>d.UserAssignment == false))
			{

				@Html.ActionLink("Download: " + document.DisplayName, "Download", new { filePath = document.Filepath, fileName = document.FileName, saveName = document.DisplayName })

			}
		</dd>
        @if(Model is Lexicon_LMS.Models.Assignment)
        {
            <dt>Submit assignment</dt>
            if(Model.Deadline>=DateTime.Now)
            {
                if (hasSubmitted) { <dd>You have submitted this assignment</dd> }
                else { 
                    @*<dd>Submit your assignment @Html.ActionLink("here", "SubmitAssignment", new { id = Model.ID })</dd>*@
                                    <dd>@Html.Partial("SubmitAssignment", Model)</dd>
                }
            }
            else
            {
                if (hasSubmitted) { <dd>You have submitted this assignment</dd>}
                else {  <dd>Deadline for this assignment has ended</dd>}
            }
        }

	</dl>
	<p>
		<span class="glyphicon glyphicon-arrow-left"> </span>
		@Html.ActionLink("Back to Course", "Details", "Courses", new { id = Model.Module.Course.ID }, new { @class = "btn btn-default" }) <span> | </span>
		@if (User.IsInRole("Teacher"))
		{
			<span class="glyphicon glyphicon-pencil"> </span>
			@Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
		}
	</p>
</div>
