@model Lexicon_LMS.Models.Activity
@using Lexicon_LMS.Models;

@{
	ViewBag.Title = "Details";
}
<link href="~/Content/icecreamstyle.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="main-div">
<h2 class="h2-override">Details</h2>

	<h4>Activity</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Deadline)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Deadline)
		</dd>

		<dt>@Html.DisplayNameFor(model => model.Documents)</dt>
		<dd>
			@foreach (Document document in Model.Documents)
			{

				@Html.ActionLink("Download: " + document.DisplayName, "Download", new { filePath = document.Filepath, fileName = document.FileName, saveName = document.DisplayName })

			}
		</dd>

	</dl>
<p>
	@Html.ActionLink("Back to Course", "Details", "Courses", new { id = Model.Module.Course.ID }, null) <span> | </span>
	@if (User.IsInRole("Teacher"))
	{
		@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) 
	}
</p>
</div>
