@model IEnumerable<Lexicon_LMS.Models.Module>
@{
    var courseId = (int)ViewData["courseId"];
    int countId = 1;
    int headCount = -1;
}
<link href="~/Content/collapsestyle.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/icecreamstyle.css" rel="stylesheet" />
@if (User.IsInRole("Teacher"))
{
    <div class="p-override">
        <p>
            @Html.ActionLink("Add Module", "Create", "Modules", new { id = courseId }, new { @class = "btn btn-primary" })
        </p>
    </div>
}

@foreach (var item in Model)
{
    var myModal = "myModal" + item.ID;
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="@headCount">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@countId" aria-expanded="true" aria-controls="@countId">
                       <b>@Html.DisplayFor(model => item.ModuleTitle)</b>
                       <span class="far-right"> <b>End Date:</b> @Html.DisplayFor(modelItem => item.EndDate) </span>
                       <span class="far-right">&emsp;</span>
                       <span class="far-right"> <b>Start Date: </b>@Html.DisplayFor(modelItem => item.StartDate)</span>
                    </a>
                </h4>
            </div>
            <div id="@countId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@headCount">
                <div class="panel-body">
                    <div class="col-md-5">
                        @Html.Partial("_ModuleContent", item)
                    </div>
                    <div class="col-md-7">

                        @Html.Partial("_PartialActivities", item)
                        </div>
                    </div>
                </div>
        </div>
    </div>
    countId++;
    headCount--;
}             

    @Scripts.Render("~/Scripts/mouseover.js")