@model Lexicon_LMS.Models.Course

@{
	ViewBag.Title = "Create Course";
}

<link href="~/Content/icecreamstyle.css" rel="stylesheet" />

<div class="main-div">
	<h2 class="h2-override">@ViewBag.Title</h2>
	@using (Html.BeginForm("Create", "Courses", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group">
				@Html.LabelFor(model => model.CourseCode, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.CourseCode, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.CourseCode, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.TeacherID, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.DropDownListFor(model => model.TeacherID, ViewBag.teachers as IEnumerable<SelectListItem>, new { @class = "form-control", id = "Teacher" })
					@Html.ValidationMessageFor(model => model.TeacherID, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", type = "date"} })
					@Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
					@Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", type = "textbox" } })
					@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Documents, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<input type="file" id="file" name="upload" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Create" class="btn btn-success" />
					<span style="margin-left: 75px;">
						@Html.ActionLink("Back to Courses", "Index", new { }, new { @class = "btn btn-danger" })
					</span>
				</div>
			</div>
		</div>
	}
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
