@model Lexicon_LMS.Models.Course
@using Lexicon_LMS.Models;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseModules)
        </dt>
        @foreach (var module in Model.CourseModules)
        {
            <dd>
                @Html.ActionLink(module.Description, "Details", new { Controller = "Modules", action = "Details", id = module.ID })
            </dd>
        }

        @if (Model.Teacher != null)
        {
            <dt>@Html.DisplayNameFor(model => model.Teacher)</dt>
            <dd>
                @Html.ActionLink(Model.Teacher.FullName, "UserProfile", new { Controller = "Manage", action = "UserProfile", id = Model.Teacher.Id })
            </dd>
        }



        <dt>@Html.DisplayNameFor(model => model.CourseParticipants)</dt>
        @foreach (ApplicationUser participant in Model.CourseParticipants)
        {
            <dd>@Html.ActionLink(participant.FullName, "UserProfile", new { Controller = "Manage", action = "UserProfile", id = participant.Id })</dd>}
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@Html.ActionLink("Add Module", "Create", new { Controller = "Modules", action = "Create", id = Model.ID }, new { @class = "btn btn-default" })