@model Lexicon_LMS.Models.Course

@{
    ViewBag.Title = "UploadCourseDoc";
}

@using (Html.BeginForm("UploadCourseDoc", "Courses", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.CourseCode)

        <h4>Upload a new document</h4>
        <div class="form-group">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input type="file" name="upload" id="upload" class="form-control">
                            <span class="input-group-btn" style="width:0px">
                                <button class="btn btn-default" type="submit">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 text-success">
                        @ViewBag.UploadStatus
                    </div>
                </div>
            </div>
        </div>
    </div>
}
