@using Lexicon_LMS.Models
@model LoginViewModel
<link href="~/Content/Additional.css" rel="stylesheet" />
<link href="~/Content/Footer.css" rel="stylesheet" />

<div class="bg" id="wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="logoContainer">
                <img class="center" src="~/Content/logo.png" />
            </div>

            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-2", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h1><span class="log-in">Log in</span></h1>
                    <p class="float">
                        <label for="login">Email</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </p>
                    <p class="float">
                        <label for="password">Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                      <h1>
                   
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe) <br>
                            @Html.ActionLink("FORGOT YOUR PASSWORD?", "ForgotPassword", null, new { @class = "forgot h6" })
                      </h1>
                    </p>
                    <p class="clearfix">
                        <input type="submit" name="submit" value="Log in">
                    </p>
                }
            </section>

            <div class="col-md-4">


                @*@Html.ActionLink("Register as a new user", "Register")*@



            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

}
